footer {
  position: absolute;
  bottom: 0;
  background-color: #5F494E;
  color: white;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
