body {
    background-color: #1c1843;
    font-family: "Montserrat";
    color: #fff;
}

h1 {
    font-size: 40px;
}

.container {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fbfbfb;
    animation: title 0.7s ease-in;
}

.todo {
    display: flex;
    justify-content: center;
}

.todo-input {
    width: 350px;
    height: 35px;
    padding-left: 10px;
    border-radius: 6px;
    background-color: #FAFBFC;
    border: 1px solid #3312ab;
    font-size: 16px;
}

button, .btn-delete {
    display: inline-block;
    margin-left: 10px;
    border: none;
    background-color: #FAFBFC;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    color: #24292E;
    cursor: pointer;
    line-height: 20px;
    padding: 6px 16px;
    font-family: "Montserrat";
    font-weight: 700;
}

.todo-list {
    padding: 30px 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0px;
}

.js-todo-item {
    padding: 0 0 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.btn-delete {
    width: 80px;
}