.container {
  padding: 50px;
  flex-direction: column;
}

.container, .container-result, .container-emoji, .container-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.container-emoji {
  padding: 0 0 50px;
  gap: 40px;
  cursor: pointer;
}

.item-emoji {
  font-size: 30px;
}

.item-result {
  margin-left: 10px;
}

.container-btns {
  gap: 30px;
  padding: 0 0 30px;
}

.container-result {
  flex-direction: column;
}

.result-title {
  font-weight: 500;
  font-size: 20px;
}

button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  animation: rotate 0.7s ease-in-out both;
}

button, .btn {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

button:hover .btn {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

