.body {
    background-color: #1c1843;
    color: #fff;
}

h1 {
    font-family: "Montserrat";
}

.margin {
    margin: 20px 0;
    font-size: 18px;
}

.container { 
    padding: 30px 90px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-family: "Montserrat";
}

.text {
    color: #fff;
}

.reaction {
    font-size: 14px;
    font-weight: 400;
    display: block;
    min-height: 20px; 
}

.col-12 {
    display: flex;
    justify-content: center;
}